/* 
GENERAL 
*/

:root {
    --header-height: 70px;
    --aside-width: 70px;
}


/* HEADER */

header {
    height: var(--header-height);
}

header img {
    width: 100%;
}

header img:first-child {
    height: 50px;
}

/* 
MAIN 
*/

main {
    height: calc(100vh - var(--header-height));
}

/* aside */
aside {
    width: var(--aside-width);
}

aside {
    background-color: #061E34;
    background-image: url(../img/sidebar-bg.png);
}

.my-btn-aside:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* secttion */
main #central-section {
    width: calc(100% - var(--aside-width));
}

/* 
RESPONSIVE 
*/

@media screen and (min-width:992px) {
    :root {
        --aside-width: 150px;
    }
}