/* 
GENERAL 
*/

img {
    width: 100%;
}

:root {
    --header-height: 70px;
    --aside-width: 70px;
}

/* HEADER */

header {
    height: var(--header-height);
}

header img:first-child {
    height: 50px;
}

/* 
MAIN 
*/

main {
    height: calc(100vh - var(--header-height));
}

/* aside */
aside {
    width: var(--aside-width);
}

aside {
    background-color: #061E34;
    background-image: url(../img/sidebar-bg.png);
}

.my-btn-aside:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* secttion */
main #central-section {
    width: calc(100% - var(--aside-width));
}

main img {
    width: 30px;
}

main .btn-outline-secondary {
    font-size: small;
}

main table,
main .form-check-label,
main .accordion-button,
main .accordion-body,
main .card-text,
main .list-group-item,
main .card-link {
    font-size: 0.9rem;
}

/* 
RESPONSIVE 
*/

@media screen and (min-width:992px) {
    :root {
        --aside-width: 150px;
    }
}